.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* alinear contenido al inicio */
  align-items: center;
  width: 80%;
  height: 80%;
  padding: 20px;
  box-sizing: border-box;
}

.arrow {
  cursor: pointer;
  margin-bottom: 20px;
  font-size: xx-large;
  color: #173456;
}

.programming, .projects {
  transition: height 0.5s ease-in-out;
  height: 0; /* contenido colapsado por defecto */
  overflow: hidden;
}

.programming:not(.collapsed), .projects:not(.collapsed) {
  height: auto; /* contenido visible */
}